[submodule "SDK"]
	path = SDK
	url = git@github.com:LiteLDev/LiteLoaderSDK.git
	branch = beta
[submodule "LiteloaderPlugin/SDK"]
	path = LiteloaderPlugin/SDK
	url = https://github.com/LiteLDev/LiteLoaderSDK
